
html, body {
  height: 100%;
  overflow-x: hidden; /* horizontal scroll hata dega */
}



#root{
       overflow-x:  hidden;
}

body{
     margin :  0 ;
     padding : 0 ;
     box-sizing : border-box; 
}

::-webkit-scrollbar{
     width : 5px ;
}

::-webkit-scrollbar-track{
       background-color: #f1f1f1 ;
}

::-webkit-scrollbar-thumb{
       background-color: rgb(197, 197, 197);
}


img{
       display: block;
}
